/* h2{
    color: yellow;
}
*{
    color: gray;
} */
a{
    display: inline-block;
    text-decoration: none;
    color: gray;
}
header{
    display: flex;
    justify-content: space-between;
}
header>nav>a{
    margin-left: 15px;
}